/* 
Base styling for widget 'window'
*/

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.widget-AlertBox {
  position: relative;
}

#wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

#alert-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

#inner-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#svg-wrap {
  display: flex;
  position: absolute;
}

// Write custom CSS below.

