/* 
Base styling for widget 'window'
*/

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.widget-AlertBox {
  position: relative;
}

#wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

#alert-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

#inner-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#svg-wrap {
  display: flex;
  position: absolute;
}

// Write custom CSS below.

.hidden {
  display: hidden;
  opacity: 0;
}

#alert-container {
  font-family: sans-serif;
  transition: opacity 500ms ease-in;
}

.small-tip {
  font-size: 12px;
  color: #555555;
}

.medium-tip {
  font-size: 12px;
  color: #555555;
}

.large-tip {
  font-size: 12px;
  color: #555555;
}

.small-tip,
.medium-tip,
.large-tip {
  opacity: 1;
}